@import "../variables.scss";

.content-editor {
    max-width: 1200px;
    margin: 0 auto;
    @media(max-width: 767px){
        max-width: 95%;
    }
    .action-buttons {
        margin: 20px auto;
    }
}