@import "./css/variables.scss";

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .menu-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .main-drawer {
    > div {
      background-color: $black !important;
    }
    margin: 1rem;
    .MuiDrawer-paperAnchorDockedLeft {
      border: none;
    }
    .menu {
      margin: 10px;
      min-width: 250px;
      // background-color: $black !important;
      height: 100%;
      > button {
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        h1 {
          color: $primary;
          margin-bottom: 0;
          margin-top: 0;
          font-size: 3.25rem;
          > span {
            color: white;
          }
        }
        p {
          font-size: 0.85rem;
          color: white;
          margin-top: 0;
        }
      }
      .submenu {
        width: 90%;
        margin: 0 auto;
      }
      .userid {
        display: flex;
        align-items: baseline;
        p {
          color: $black;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.85rem;
          span {
            color: $primary;
          }
        }
      }
      svg {
        fill: $black;
      }
    }
    .menu-items {
      .MuiListItemText-root {
        color: white;
      }
      svg {
        fill: $primary;
      }
    }
  }
  svg {
    fill: white;
  }
}

.App-link {
  color: #61dafb;
}
